<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<system.serviceModel>
		<client>
			<endpoint name="PreparationService"
				address="http://localhost:10096/PreparationService"
                binding="wsHttpBinding" 
                contract="Demo.WCFSoapServices.IPreparationService" >
			</endpoint>
			<endpoint name="DrugMasterService"
				address="http://localhost:10096/DrugMasterService"
                binding="wsHttpBinding"
                contract="Demo.WCFSoapServices.IDrugMasterService" >
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>